@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

:root {
    --colorText: #222222;
    --colorBackground: #ffffff

}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--colorBackground); 
    text-align: center;
    align-items: center;
}

ul.menu {
    display: flex;
}

ul.menu li {
    list-style: none;
}

ul.menu li a {
    text-decoration: none;
}

