@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

:root {
    --colorText: #222222;
    --colorBackground: #ffffff;
    --colorHomeMenu: #E51B3E;

}

header {
    display: flex;
    justify-content: space-around;
    background-color: var(--colorBackground); 
    text-align: center;
    align-items: center;
    font-weight: 400;
    width: 100%;
    height: 20vh;
}



ul.menu {
    display: flex;
    gap: 10px;
    align-items: center;    
}

#colorRed {
    color: var(--colorHomeMenu);
}

ul.menu li {
    list-style: none;
    
}

ul.menu a {
    text-decoration: none;
    color: var(--colorText);
    font-size: 1.5rem;
}

